/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */

.header-top{
    background-color: #add8e6;
    padding: 15px ;
}

.header-top > .container{
    display: flex;
    background: #daa520;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header-bottom > .container{
max-width: 900px;
}

.header-top .logo,
.header-top nav,
.header-top .login{
    border: 1px dashed black;
    padding: 6px;
}
.header-top .logo, .header-top .login{
    width: 20%;
}

.header-top .login{
    text-align: right;
}

.header-top nav{
    width: 60%;
    text-align: center;
}
.header-bottom{
    background-color: darkblue;
    padding: 30px;
    border-bottom: 2px solid aqua;
    min-height: 300px;

}.header-bottom > .container{
    display: flex;
    background-color: magenta;
    min-height: 239px;
    border: 1px dashed black;
}

/* COLMN */
.clmns{
    display: flex;
    min-height: 300px;
    padding: 20px; 

}
.clmn-blue{
    width: 70%;
    background-color: #1e90ff;
    border: 2px dashed black;
   
}
.clmn-rose{
    width: 30%;
    background-color: #ffc0cb;
    border: 2px dashed black;  
}
